{% extends "main.html" %}

{% block title %}
About
{% endblock %}

{% block content %}
<h3>About This Wiki</h3>
<p> This Wiki discusses various types of <strong>retro video games</strong>.
    To post about your favorite retro video game, please create an account to join in on the fun. We hope you enjoy exploring the content! ✰ </p>
    

<h3>About Your Authors</h3>
<p> Kesi Chapman: Loved playing Magical Tetris Challenge on the Game Boy Color (Yellow) and Mario Kart: Double Dash on the Game Cube. A computer science student at Howard University. Set to graduate in December 2024.</p>

<img src="KesiChapman.jpg" alt="Picture of Kesi" width="420" height="500"> 

<p> Mariano Garcia: Loved playing SpongeBob SquarePants: Battle for Bikini Bottom on the Xbox. A computer science student at New Mexico State University. Set to graduate in December 2024. </p>
<img src="MarianoGarcia.jpg" alt="Picture of Mariano" width="420" height="500"> 

<p> Shane Miller: Loved playing Mario Kart on the Wii. A computer science student at Morgan State University. Set to graduate in December 2024.</p>
<img src="ShaneMiller.jpg" alt="Picture of Shane" width="270" height="500"> 

{% endblock %}
